<!--instruction.component.html-->
<div [formGroup]="instructionForm">
    <!--order-->
    <div class="form-group col-md-3">
        <label for="order">Order</label>
        <input type="number" class="form-control" formControlName="order" value="">
        <small class="text-danger" [hidden]="instructionForm.controls.order.valid">Instruction order is required (number).</small>
    </div>
    <!--direction-->
    <div class="form-group col-md-6">
        <label for="direction">Direction</label>
        <input type="text" class="form-control" formControlName="direction" value="">
        <small class="text-danger" [hidden]="instructionForm.controls.direction.valid">Direction is required (minimum 5 characters).</small>
    </div>
</div>