<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <div *ngFor="let recipe of recipes">
                    <li class="list-group-item">{{recipe.title}} - {{recipe.description}}></li>
                </div>
            </ul>
        </div>
    </div>
</div>










<!--<div class="page-header">
    <h2>{{recipes?.title}} <small>{{recipes?.description}}</small></h2>
</div>
<div class="container">
    <h3>Ingredients</h3>
    <div class="col-md-4">
        <ul class="list-group">
            <div *ngFor="let ingredient of recipes?.ingredients">
                <li class="list-group-item">
                    <span class="badge">{{ingredient.quantity}}</span> {{ingredient.name}}
                </li>
            </div>
        </ul>
    </div>
</div>
<div class="container">
    <h3>Instructions</h3>
    <div class="col-md-6">
        <ul class="list-group">
            <div *ngFor="let instruction of recipes?.instructions">
                <li class="list-group-item-text">{{instruction.order}} - {{instruction.direction}}</li>
            </div>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <h3>Tags</h3>
    <div class="col-md-12">
        <div class="tags">
        <div *ngFor="let tag of recipes?.tags">
            <span class="label label-info">{{tag}}</span>
        </div>
    </div>
    </div>
</div>-->