<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Recipe List</h4>
            <table id="recipeTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recipe of recipes">
                        <td>{{recipe.title}}</td>
                        <td>{{recipe.description}}</td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <button class="btn btn-danger btn-xs" (click)="deleteRecipe(recipe._id)" data-title="Delete" data-toggle="modal" data-target="#delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<div class="container-fluid">
    <h3>Tags</h3>
    <div class="col-md-12">
        <div class="tags">
        <div *ngFor="let tag of recipes?.tags">
            <span class="label label-info">{{tag}}</span>
        </div>
    </div>
    </div>
</div>-->