<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="margin-20">
                <h4>Add recipe</h4>
            </div>
            <form role="form" [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
                <!--fields will go here-->
                <!--title-->
                <div class="form-group">
                    <label class="" for="title">Title</label>
                    <input type="text" class="form-control" formControlName="title" placeholder="Add new recipe title or name...">
                    <small *ngIf="!myForm.controls.title.valid" class="text-danger">Title is required (minimum 5 characters).</small>
                </div>
                <!--description-->
                <div class="form-group">
                    <label class="" for="description">Description</label>
                    <input type="text" class="form-control" formControlName="description" placeholder="Add a brief description of the new recipe..."
                        value="">
                    <small *ngIf="!myForm.controls.description.valid" class="text-danger">Description is required.</small>
                </div>
                <!--list of ingredients-->
                <div formArrayName="ingredients">
                    <div *ngFor="let ingredient of myForm.controls.ingredients.controls; let i=index" class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="panel-title">Ingredient {{i + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.ingredients.controls.length  > 1" (click)="removeIngredient(i)"></span>
                        </div>
                        <div class="panel-body" [formGroupName]="i">
                            <ingredient [group]="myForm.controls.ingredients.controls[i]"></ingredient>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a (click)="addIngredient()" style="cursor: default">Add another ingredient +</a>
                </div>
                <br><br>
                <!--list of instructions-->
                <div formArrayName="instructions">
                    <div *ngFor="let instruction of myForm.controls.instructions.controls; let j=index" class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="panel-title">Instruction {{j + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.instructions.controls.length > 1" (click)="removeInstruction(j)"></span>
                        </div>
                        <div class="panel-body" [formGroupName]="j">
                            <instruction [group]="myForm.controls.instructions.controls[j]" [instructionOrder]="j+1"></instruction>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a (click)="addInstruction()" style="cursor: default"> Add another instruction +</a>
                </div>
                <br><br>
                <!--list of tags-->
                <div formArrayName="tags">
                    <div *ngFor="let tag of myForm.controls.tags.controls; let k=index" class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="panel-title">Tag {{k + 1}}</span>
                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.tags.controls.length > 1" (click)="removetag(k)"></span>
                        </div>
                        <div class="panel-body" [formGroupName]="k">
                            <tag [group]="myForm.controls.tags.controls[k]"></tag>
                        </div>
                    </div>
                </div>
                <div class="margin-20">
                    <a (click)="addTag()" style="cursor: default"> Add another tag +</a>
                </div>
                <br><br>
                <!--imagePath-->
                <div class="form-group">
                    <label for="imagePath">Image Path</label>
                    <input type="text" class="form-control" formControlName="imagePath" placeholder="Add a full path name to a picture..." value="">
                    <small *ngIf="!myForm.controls.imagePath.valid" class="text-danger">imagePath is required.</small>
                </div>
                <!--rating-->
                <div class="form-group">
                    <label for="rating">Rating</label>
                    <input type="number" class="form-control" formControlName="rating" value="">
                    <small *ngIf="!myForm.controls.rating.valid" class="text-danger">rating is required.</small>
                </div>
                <!--category-->
                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" formControlName="category" placeholder="Add a category for grouping..." value="">
                    <small *ngIf="!myForm.controls.category.valid" class="text-danger">category is required.</small>
                </div>
                <!--comments-->
                <div class="form-group">
                    <label for="comments">Comments:</label>
                    <textarea class="form-control" rows="5" formControlName="comments" id="comments"></textarea>
                    <small *ngIf="!myForm.controls.comments.valid" class="text-danger">comments is required.</small>
                </div>
                <div class="margin-20">
                    <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>