<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Recipe List</h4>
            <table id="recipeTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Rating</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recipe of recipes">
                        <td><a [routerLink]="['/recipe', recipe._id]">{{recipe.title}}</a></td>
                        <td>{{recipe.description}}</td>
                        <td><rating-star [rating]='recipe.rating' (ratingClicked)='onRatingClicked($event)' ></rating-star></td>
                        
                        <td>
                            <a class="btn btn-primary btn-sm" [routerLink]="['/recipeEdit', recipe._id]" >Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>